/* Add this CSS to your existing styles */

.footer-wrapper {
  position: fixed;
  top: 10px; /* Adjust top spacing as needed */
  right: 10px; /* Adjust right spacing as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* Adjust height as needed */
  
}

.footer-wrapper :hover{
  cursor: pointer;
}

.mode-toggle-btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #4CAF50; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  outline: none;
}

.mode-toggle-btn:hover {
  background-color: #3e8e41; /* Button background color on hover */
}

/* Update the CSS for the mode toggle button */

.footer-wrapper {
  padding-left: 10px; /* Adjust the padding as needed */
}
