/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-item {
    margin-right: 10px;
    transition: all 0.3s ease; /* Add transition for hover effect *//*
  }
  /*
  .search-bar {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: white;
    transition: all 0.3s ease; /* Add transition for hover effect *//*
  }
  
  .search-bar:focus {
    outline: none;
    background-color: #777;
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease; /* Add transition for hover effect *//*
  }
  
  .profile-icon:hover {
    background-color: #555;
    cursor: pointer;
  }
  
  /* Media query for responsiveness *//*
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 10px;
    }
  
    .navbar-left,
    .navbar-right {
      width: 100%;
    }
  
    .navbar-right {
      margin-top: 10px;
    }
  
    .navbar-item {
      margin: 5px 0;
    }
  }
   */