/* Light mode styles */
* {
  font-family: Arial, sans-serif; /* Use default system font */
  color: #000000; /* Set text color to black */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000; /* Set text color to black */
}

.App-link {
  color: #61dafb;
}

.container {
  min-height: 100vh; /* Ensure container takes up full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom:5rem;
}



/* Dark mode styles */
.dark-mode * {
  color: #eee; /* Set text color to white in dark mode */
}

.dark-mode .App-header {
  background-color: #222; /* Adjust background color for dark mode */
}

.dark-mode .App-link {
  color: #4CAF50; /* Adjust link color for dark mode */
}

.dark-mode .container {
  background-color: #222; /* Adjust background color for dark mode */
}

/* Rest of your CSS styles */
/* Include the rest of your CSS rules here */

/* Ensure consistent background color */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Set background color to white */
}

.container {
  min-height: 100vh; /* Ensure container takes up full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222; /* Adjust background color for dark mode */
    color: #eee; /* Adjust text color for dark mode */
  }

}
/* Dark mode styles */
.dark-mode * {
  color: #eee; /* Set text color to white in dark mode */
}

.dark-mode .App-header {
  background-color: #222; /* Adjust background color for dark mode */
}

.dark-mode .App-link {
  color: #4CAF50; /* Adjust link color for dark mode */
}

.dark-mode .container {
  background-color: #222; /* Adjust background color for dark mode */
}

/* Rest of your CSS styles */
/* Include the rest of your CSS rules here */

.div1 {
  width: 80%; /* Adjust as needed */
}

.div2,
.div3,
.div4,
.div5 {
  width: 80%;
  margin: auto;
}

.div2,
.div4 {
  text-align: center;
  margin-bottom: 20px;
}

.div3 {
  text-align: left;
  margin-bottom: 20px;
}

.progress-bar {
  width: 80%; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-color: rgb(240,240,240);
  border-radius: 10px;
  position: relative;
  margin-left: 50%; /* Center the progress bar */
  transform: translateX(-50%);
}

.dark-mode .progress-bar{
  background-color: rgb(122,120,120);
}

.progress {
  height: 100%;
  border-radius: 10px;
}

.percentage {
  position: absolute;
  top: -30px; /* Adjust to position above the progress bar */
  left: 50%;
  transform: translateX(-50%);
}


.div4::before {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #dddddd;
}

.question-cell {
  text-align: left;
}

.complete-button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}

.completed-button {
  background-color: white;
}

/* Add these CSS rules in your quest.css file */

.completed-button {
  background-color: white; /* Change the background color for the button */
}

.completed-button:hover {
  background-color: lightgreen; /* Change the background color on hover */
}

.completed-button .box-complete {
  background-color: inherit; /* Inherit the background color from the parent */
}

.completed-button:hover .box-complete {
  background-color: inherit; /* Inherit the background color on hover */
}

.green {
  background-color: rgb(60, 215, 60);
}

.dark-mode .box-complete{
  background-color: rgb(34,34,34);
  color:white;
}
.dark-mode .completed-button{
  background-color: rgb(34,34,34);
}

.box {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(60, 215, 60);
}

.complete-button {
  background-color: rgb(60, 215, 60);
}

.complete-button:hover {
  background-color: rgb(60, 215, 60);
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.nav a:hover {
  text-decoration: underline;
}

.table-container {
  position: relative;
}

.statusss {
  cursor: pointer;
}

.topic-card-container {
  filter: blur(0); /* Initially set to no blur */
}

.topic-card-container:hover {
  filter: blur(4px); /* Apply blur effect on hover */
}

.topic-card-container:hover .topic-cards {
  filter: blur(0); /* Remove blur effect from the hovered card */
}

.input {
  width: 100%;
  max-width: 1100px;
  height: 25px;
  margin: 15px auto; /* Center the input */
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.dark-mode .input{
background-color: #323131;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}


.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid rgb(249, 249, 249);
}

/* Add these CSS rules in your quest.css file */

.random {
  color: white;
  background-color: #007bff; /* Blue color */
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.random:hover {
  background-color: #0056b3; /* Darker
shade of blue */
}

/* Style for the span inside the button */
.random span {
padding: 5px 10px;
border-radius: 5px;
background-color: #007bff; /* Same as button background color */
}

/* Style for the span inside the button on hover */
.random:hover span {
background-color: #0056b3; /* Same as button hover background color */
}

html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}

.container {
min-height: 100vh; /* Ensure container takes up full viewport height */
display: flex;
flex-direction: column;
align-items: center;
}

@media (prefers-color-scheme: dark) {
body {
background-color: #222; /* Adjust background color for dark mode /
color: #eee; / Adjust text color for dark mode */
}
}

/* Rest of your CSS styles /
/ Include the rest of your CSS rules here */

@media only screen and (max-width: 768px) {
.div1 {
width: 90%; /* Adjust as needed */
}

.div2,
.div3,
.div4,
.div5 {
width: 90%;
margin: auto;
}

.input {
width: 90%;
max-width: 90%;
margin: 15px auto; /* Center the input */
}
}

