/* Light mode styles */

.page-container {
  background-color: white;
}

.page-container.theme-dark {
  background-color: black;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* margin: 20px; */
}

.progress-info {
  padding-top: 20px; /* Remove top and bottom margin */
  font-size: 18px;
  color: #333;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 10px auto; /* Center the progress bar horizontally */
}

.progress {
  height: 100%;
  border-radius: 10px;
  background-color: #28d102;
  margin: 0; /* Remove the top and bottom margin */
}

.topic-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.topic-cards:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 25px;
}

.topic-name {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  color: #333;
}

.topic-question-count {
  font-size: 18px;
  margin: 10px 0;
  color: #666;
}

.practice,
button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
}

.practice:hover,
button:hover {
  background-color: #3e8e41;
}

button {
  border: none;
  outline: none;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
  .topic-cards {
    width: 90%;
  }

  button {
    margin-bottom: 20px;
  }
}

/* Dark mode styles */

.theme-dark .page-container {
  background-color: #222; /* Adjust background color for dark mode */
  color: #eee; /* Adjust text color for dark mode */
}

.theme-dark .progress-info,
.theme-dark .progress-bar,
.theme-dark .progress,
.theme-dark .topic-cards,
.theme-dark .topic-name,
.theme-dark .topic-question-count,
.theme-dark .practice,
.theme-dark button {
  color: #eee; /* Adjust text color */
}

.theme-dark .progress-bar {
  background-color: #7a7878; /* Adjust progress bar background color */
}

.theme-dark .progress {
  background-color: #0f0; /* Adjust progress color */
}

.theme-dark .topic-cards {
  background-color: #3d3d3d; /* Adjust card background color */
  box-shadow: rgba(89, 85, 85, 0.15) 0px 5px 15px; /* Adjust box shadow */
}

.theme-dark .topic-cards:hover {
  box-shadow: rgba(67, 66, 66, 0.35) 0px 8px 25px; /* Adjust hover box shadow */
}

.theme-dark .practice,
.theme-dark button {
  background-color: #4CAF50; /* Adjust button background color */
}

.theme-dark .practice:hover,
.theme-dark button:hover {
  background-color: #3e8e41; /* Adjust button hover background color */
}

.theme-dark .topic-name {
  background-color:rgb(61,61,61);
}

.theme-dark .topic-question-count {
  background-color:rgb(61,61,61);
}
