/* Light mode styles */
* {
  font-family: Arial, sans-serif; /* Use default system font */
  color: #000000; /* Set text color to black */
}

.App {
  text-align: center;
}


.App-header {
  background-color: #ffffff;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000; /* Set text color to black */
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-mode {
  background-color: #242424;
  color: #ffffff; /* Change text color to white */
}

.dark-mode .App-header {
  background-color: #2a2929;
}

.dark-mode .App {
  color: white; /* Change text color to white */
}
